/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after { box-sizing: border-box; } * { margin: 0; } html, body { height: 100%; } body { line-height: 1.2; -webkit-font-smoothing: antialiased; } img, picture, video, canvas, svg { display: block; max-width: 100%; } input, button, textarea, select { font: inherit; } p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; } #root, #__next { isolation: isolate; }

/*
  Our CSS
 */

@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/FiraMono-Regular.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/FiraMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: optional;
}

/* variables */
:root {
  --spacing: 2rem;
  --font-body: 'Fira Mono', monospace;
  --font-h1: 'Fira Mono', monospace;
  --highlight: #FFC804;
  --text-emphasis-color: #4522A9;
  --body-text: #262626;
  --bg-color: #F6F6F6;
}

body {
  margin: auto;
  padding: 0.5em;
  max-width: 600px;
  font-family: var(--font-body);
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--body-text);
}

strong, em {
  color: var(--text-emphasis-color);
  background-color: var(--highlight);
}

p {
  margin: 1em 0;
}

h1 {
  content: "the secret is 'foundations'";
  margin: var(--spacing) 0;
  font-family: var(--font-h1);
}

.instructions {
  margin: var(--spacing) 0;
}

.start {
  display: flex;
  justify-content: center;
}

.checker {
  margin: var(--spacing) 0 0 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
  min-height: 4em;
}

.feedback {
  text-align: center;
}

.checker > * {
  margin: 4px;
}

.spacer {
  height: 4em;
}

.tour,
.instructions,
.prompt,
#start-tour {
  display: none;
  margin-bottom: var(--spacing);
}

.prompt.--5 {
  background-color: #F6F6F6;
}

.bg-hidden {
  color: var(--bg-color);
}

img.offscreen {
  left: -100vw;
  position: relative;
  height: 200px;
}

.victory {
  display: none;
  margin: var(--spacing);
}

.message {
  margin: var(--spacing);
}
